<div class="container" style="margin-top:20px;">
  <h1 class="" style="margin-bottom: 20px;"> Rooms </h1>
  <input type="text" [(ngModel)] = "term" class="form-control" placeholder="type number of room or area..." style="margin-bottom:20px;"/>
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
      <tr>
          <th style="width: 10%">
              <mfDefaultSorter by="name">Id</mfDefaultSorter>
          </th>
          <th style="width: 20%">
              <mfDefaultSorter by="email">Room num</mfDefaultSorter>
          </th>
          <th style="width: 20%">
              <mfDefaultSorter by="email">Room Area</mfDefaultSorter>
          </th>
          <th style="width: 30%">
              <mfDefaultSorter by="email">Hotel</mfDefaultSorter>
          </th>
          <th style="width: 25%">
              <mfDefaultSorter by="email">Edit</mfDefaultSorter>
          </th>
          <th style="width: 15%">
              <mfDefaultSorter by="email">Delete</mfDefaultSorter>
          </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let room of rooms | filterByAreaAndNum:term">
          <td>{{room.id}}</td>
          <td>{{room.num}}</td>
          <td>{{room.area}} m2</td>
          <td>{{room.name}}</td>
          <td><button class="btn btn-primary" (click)="editRoom(room.id)" >Edit</button></td>
          <td><button class="btn btn-primary" (click)="deleteRoom(room.id)" >Delete</button></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
          <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
      </tr>
      </tfoot>
  </table>
  <button class=" pull-right btn btn-danger" (click)="addRooms()" style="margin-bottom: 50px;">Add Room</button>
</div>
<div class="fotter-info">
	  <div class="container">
	      <div class="col-md-5 details">
			 <div class="hotel-info">
				 <h4>ABOUT THIS HOTEL</h4>
				 <p>Suspendisse erat mi, tincidunt sit amet massa quis, commodo fermentum diam. Sed nec dui nec nunc tempor interdum.</p>
				 <p>Ut vulputate augue urna, ut porta dolor imperdiet a. Vestibulum nec leo eu magna aliquam ornare.</p>
			 </div>
			 <div class="news">
				 <h4>LATEST NEWS</h4>
				 <h5>Grand Hotel Joins DeluxelHotels</h5>
				 <a href="#">15 AUG</a>
				 <h5>Happy Chirstmas To Everyone</h5>
				 <a href="#">15 AUG</a>
				 <h5>Best Places To Visit 2014</h5>
				 <a href="#">15 AUG</a>
				 <h5>Various Offers</h5>
				 <a href="#">15 AUG</a>		
			 </div>
				<div class="clearfix"></div>
		 </div>
		 <div class="col-md-7 details">
			 <div class="join">
				 <h4>JOIN DELUXEHOTELS</h4>
				 <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vestibulum blandit egestas. 
				 Nam id lectus vel orci luctus consectetur eget id elit. In tortor odio, pellentesque eu arcu sit amet, lacinia euismod nisi. Aliquam sodales tristique mauris ac fermentum.
				 Donec vel varius ipsum. Pellentesque vitae mollis massa. </p>
				 <p>There is no costs or whatsoever so sign up today!</p>
				 <a href="#">READ MORE</a>
			 </div>
			 <div class="member">
			 <h4>MEMBERS AREA</h4>
			 <form>
			 <p>Username</p>
			 <input type="text" placeholder="" required/>
			 <p>Password</p>
			 <input type="password" placeholder="" required/>		
			 <input type="submit" value="LOGIN"/>
			 </form>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="clearfix"></div>
	  </div>
	 <h6></h6>	  
</div>
