<div class="header">
	 <div class="top-header">
		 <div class="container">
			 <span class="menu"> </span>
			 <div class="m-clear"></div>
			 <div class="top-menu">
				<ul>
					 <li><a routerLink="home">START</a></li>
					 <li><a class="scroll" routerLink="hotels">HOTELS</a></li>
					 <li><a class="scroll"routerLink="login">LOGIN</a></li>
					 <li><a class="scroll" routerLink="register">REGISTER</a></li>
				</ul>
				<script>
					$("span.menu").click(function(){
						$(".top-menu ul").slideToggle(200);
					});
				</script>
			 </div>
			 <div class="clearfix"></div>
		  </div>
	  </div>
	  <div class="banner">
			<div class="banner-info text-center">
			<h3><label>Hello,</label> You've Reached</h3>
			<h1>MET HOTELS</h1>
			<span></span>
			<ul>
			 <li><a class="scroll" href="#">HOTELS</a><i class="line"></i></li>
			 <li><a class="scroll" href="#">SPA SALOONS</a><i class="line2"></i></li>
			 <li><a class="scroll" href="#">FINE DININGS</a></li>
			 <div class="clearfix"></div>
			</ul>
			</div>
	  </div>
</div>

<router-outlet></router-outlet>